CourseService_Client/CourseServiceClient/Connected Services/CourseServiceReference/CourseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CourseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICourseService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CourseService" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICourseService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Register_StudentNotExistsFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CourseService" name="detail" element="q1:StudentNotExistsFault" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Register_CourseNotExistsFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/CourseService" name="detail" element="q2:CourseNotExistsFault" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Register_CourseFullFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/CourseService" name="detail" element="q3:CourseFullFault" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Register_AlreadyRegisteredFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/CourseService" name="detail" element="q4:AlreadyRegisteredFault" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Register_PrerequisiteNotMetFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/CourseService" name="detail" element="q5:PrerequisiteNotMetFault" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Register_TakenTooManyCoursesFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/CourseService" name="detail" element="q6:TakenTooManyCoursesFault" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Unregister_InputMessage">
    <wsdl:part name="parameters" element="tns:Unregister" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Unregister_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Unregister_StudentNotExistsFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/CourseService" name="detail" element="q7:StudentNotExistsFault" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Unregister_CourseNotExistsFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/CourseService" name="detail" element="q8:CourseNotExistsFault" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Unregister_PrerequisiteOfAnotherFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/CourseService" name="detail" element="q9:PrerequisiteOfAnotherFault" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetRegistrationList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationList" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetRegistrationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationListResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetRegistrationList_StudentNotExistsFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/CourseService" name="detail" element="q10:StudentNotExistsFault" />
  </wsdl:message>
  <wsdl:portType name="ICourseService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/Register" message="tns:ICourseService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/RegisterResponse" message="tns:ICourseService_Register_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICourseService/RegisterStudentNotExistsFaultFault" name="StudentNotExistsFaultFault" message="tns:ICourseService_Register_StudentNotExistsFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICourseService/RegisterCourseNotExistsFaultFault" name="CourseNotExistsFaultFault" message="tns:ICourseService_Register_CourseNotExistsFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICourseService/RegisterCourseFullFaultFault" name="CourseFullFaultFault" message="tns:ICourseService_Register_CourseFullFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICourseService/RegisterAlreadyRegisteredFaultFault" name="AlreadyRegisteredFaultFault" message="tns:ICourseService_Register_AlreadyRegisteredFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICourseService/RegisterPrerequisiteNotMetFaultFault" name="PrerequisiteNotMetFaultFault" message="tns:ICourseService_Register_PrerequisiteNotMetFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICourseService/RegisterTakenTooManyCoursesFaultFault" name="TakenTooManyCoursesFaultFault" message="tns:ICourseService_Register_TakenTooManyCoursesFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unregister">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/Unregister" message="tns:ICourseService_Unregister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/UnregisterResponse" message="tns:ICourseService_Unregister_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICourseService/UnregisterStudentNotExistsFaultFault" name="StudentNotExistsFaultFault" message="tns:ICourseService_Unregister_StudentNotExistsFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICourseService/UnregisterCourseNotExistsFaultFault" name="CourseNotExistsFaultFault" message="tns:ICourseService_Unregister_CourseNotExistsFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICourseService/UnregisterPrerequisiteOfAnotherFaultFault" name="PrerequisiteOfAnotherFaultFault" message="tns:ICourseService_Unregister_PrerequisiteOfAnotherFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/GetRegistrationList" message="tns:ICourseService_GetRegistrationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/GetRegistrationListResponse" message="tns:ICourseService_GetRegistrationList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICourseService/GetRegistrationListStudentNotExistsFaultFault" name="StudentNotExistsFaultFault" message="tns:ICourseService_GetRegistrationList_StudentNotExistsFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICourseService" type="tns:ICourseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ICourseService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StudentNotExistsFaultFault">
        <soap:fault use="literal" name="StudentNotExistsFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CourseNotExistsFaultFault">
        <soap:fault use="literal" name="CourseNotExistsFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CourseFullFaultFault">
        <soap:fault use="literal" name="CourseFullFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AlreadyRegisteredFaultFault">
        <soap:fault use="literal" name="AlreadyRegisteredFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PrerequisiteNotMetFaultFault">
        <soap:fault use="literal" name="PrerequisiteNotMetFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TakenTooManyCoursesFaultFault">
        <soap:fault use="literal" name="TakenTooManyCoursesFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Unregister">
      <soap:operation soapAction="http://tempuri.org/ICourseService/Unregister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StudentNotExistsFaultFault">
        <soap:fault use="literal" name="StudentNotExistsFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CourseNotExistsFaultFault">
        <soap:fault use="literal" name="CourseNotExistsFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PrerequisiteOfAnotherFaultFault">
        <soap:fault use="literal" name="PrerequisiteOfAnotherFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationList">
      <soap:operation soapAction="http://tempuri.org/ICourseService/GetRegistrationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StudentNotExistsFaultFault">
        <soap:fault use="literal" name="StudentNotExistsFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ICourseService" type="tns:ICourseService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICourseService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/ICourseService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StudentNotExistsFaultFault">
        <soap12:fault use="literal" name="StudentNotExistsFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CourseNotExistsFaultFault">
        <soap12:fault use="literal" name="CourseNotExistsFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CourseFullFaultFault">
        <soap12:fault use="literal" name="CourseFullFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AlreadyRegisteredFaultFault">
        <soap12:fault use="literal" name="AlreadyRegisteredFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PrerequisiteNotMetFaultFault">
        <soap12:fault use="literal" name="PrerequisiteNotMetFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="TakenTooManyCoursesFaultFault">
        <soap12:fault use="literal" name="TakenTooManyCoursesFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Unregister">
      <soap12:operation soapAction="http://tempuri.org/ICourseService/Unregister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StudentNotExistsFaultFault">
        <soap12:fault use="literal" name="StudentNotExistsFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="CourseNotExistsFaultFault">
        <soap12:fault use="literal" name="CourseNotExistsFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PrerequisiteOfAnotherFaultFault">
        <soap12:fault use="literal" name="PrerequisiteOfAnotherFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationList">
      <soap12:operation soapAction="http://tempuri.org/ICourseService/GetRegistrationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StudentNotExistsFaultFault">
        <soap12:fault use="literal" name="StudentNotExistsFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CourseService">
    <wsdl:port name="BasicHttpBinding_ICourseService" binding="tns:BasicHttpBinding_ICourseService">
      <soap:address location="http://localhost:8080/CourseService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ICourseService" binding="tns:NetTcpBinding_ICourseService">
      <soap12:address location="net.tcp://localhost:8090/CourseService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/CourseService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-EFOSC40\User</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>